<h2><%= @person.first_name %> <%= @person.last_name %> </h2>

<p>	<strong>First Name: </strong> <%= @person.first_name %> </p>
<p>	<strong>Last Name: </strong> <%= @person.last_name %> </p>
<p>	<strong>Nickname: </strong> <%= @person.nickname %> </p>

<%= link_to "Edit this person", edit_person_path(@person.id)%>
<%= link_to "Delete this person", @person, :method => :delete %>
