<h2> Edit <%= @item.manufacturer_id %> <%= @item.model_id %> <%= @item.serial %> </h2>

<div>
<!-- The default values should be set by the form_for helper -->
<%= form_for @item do |f| %>
	<p>
		<%= f.label :serial %>
		<%= f.text_field :serial, size: 40, autofocus: true, required: true %>
	</p>
	<p>
		<%= f.label :value %>
		<%= f.text_field :value %>
	</p>
	<p>
		<%= f.label :model_id %>
		<%= f.text_field :model_id %>
	</p>
	<p>
		<%= f.label :manufacturer_id %>
		<%= f.text_field :manufacturer_id %>
	</p>
	<p>
		<%= f.label :purchase_id %>
		<%= f.text_field :purchase_id %>
	</p>
	<%= f.submit %>

<% end %>
</div>


