<h2><%= @item.manufacturer_id %> <%=@item.model_id %></h2>
<!-- items can have many ownes, so this should be a loop in theory -->

<p>	<strong>serial: </strong> <%= @item.serial %> </p>
<p>	<strong>model_id: </strong> <%= @item.model_id %> </p>
<p>	<strong>manufacturer_id: </strong> <%= @item.manufacturer_id %> </p>
<p>	<strong>purchase_id: </strong> <%= @item.purchase_id %> </p>
<p>	<strong>value: </strong> <%= @item.value %> </p>
<p>	<strong>created_at: </strong> <%= @item.created_at %> </p>
<p>	<strong>updated_at: </strong> <%= @item.updated_at %> </p>

<%= link_to "Edit this Item", edit_item_path(@item.id)%>
<%= link_to "Delete this Item", @item, :method => :delete %>
