<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<ul>
			<li><%= link_to "Items", items_path %></li>
			<li><%= link_to "People", people_path %></li>
			<li><%= link_to "Departments", departments_path %></li>
			<li><%= link_to "Employees", employees_path %></li>	
			<li><%= link_to "Technicians", technicians_path %></li>	

			<% if session["technician_id"].present? %>
		        <% current_technician = Technician.find_by(id: session["technician_id"]) %>
		        <li>Hello, <%= link_to current_technician.name, technician_path(current_technician) %>!</li>
		        <li><%= link_to "Sign Out", log_out_path, :method => :delete %></li>
	     	 <% else %>
		        <li><%= link_to "Sign Up", new_technician_path %></li>
		        <li><%= link_to "Sign In", log_in_path %></li>
      		<% end %>
		</ul>
	</nav>

	<div>
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	</div>
	
<%= yield %>

</body>
</html>
